$icon-font: icomoon !default;
$icomoon-font-path: 'assets/fonts/icomoon' !default;

/* Arrows */
$icon-caret-down: "\f0d7";
$icon-caret-left: "\f0d9";
$icon-caret-right: "\f0da";
$icon-caret-up: "\f0d8";

$icon-angle-down: "\f107";
$icon-angle-left: "\f104";
$icon-angle-right: "\f105";
$icon-angle-up: "\f106";

$icon-double-angle-down: "\f103";
$icon-double-angle-left: "\f100";
$icon-double-angle-right: "\f101";
$icon-double-angle-up: "\f102";

$icon-chevron-down: "\f078";
$icon-chevron-left: "\f053";
$icon-chevron-right: "\f054";
$icon-chevron-up: "\f077";

$icon-arrow-down: "\f063";
$icon-arrow-left: "\f060";
$icon-arrow-right: "\f061";
$icon-arrow-up: "\f062";

$icon-sort: "\f0dc";
$icon-sort-down: "\f0dd";
$icon-sort-up: "\f0de";

/* Checkbox and Radio */
$icon-check: "\f046";
$icon-check-empty: "\f096";

$icon-circle: "\f111";
$icon-circle-blank: "\f10c";

/* Add, Remove, Block, Flag, Star */
$icon-plus: "\f067";
$icon-minus: "\f068";
$icon-remove: "\f00d";
$icon-ok: "\f00c";
$icon-bin: "\e901";
$icon-blocked: "\e016";
$icon-flag: "\f024";
$icon-flag-o: "\f11d";
$icon-star: "\f005";
$icon-star-empty: "\f006";

/* Alert/Feedback Signs */
$icon-ok-sign: "\f058";
$icon-remove-sign: "\f057";
$icon-info-sign: "\f05a";
$icon-exclamation-sign: "\f06a";
$icon-question-sign: "\f059";
$icon-warning-sign: "\f071";

/* View */
$icon-eye-open: "\e90c";
$icon-eye-blocked: "\e906";
$icon-eye-plus: "\e90d";
$icon-eye-minus: "\e90e";

/* Lock */
$icon-lock: "\e600";
$icon-unlock-alt: "\e601";

/* Upload, Download, Print, Filter, Search, Zoom */
$icon-folder-upload: "\e902";
$icon-cloud-upload: "\e903";
$icon-download: "\f11a";
$icon-print: "\f02f";
$icon-filter: "\f0b0";
$icon-search: "\e001";
$icon-zoom-in: "\e90f";
$icon-zoom-out: "\e910";

/* Files */
$icon-file-black: "\f15b";
$icon-file-o: "\f016";
$icon-file-text-black: "\f15c";
$icon-file-text: "\f0f6";
$icon-drawer: "\e009";
$icon-file: "\e012";

/* Communications */
$icon-inbox: "\f01c";
$icon-paper-clip: "\f0c6";
$icon-pencil: "\f040";
$icon-edit: "\f044";
$icon-copy: "\f0c5";
$icon-fontwidth: "\f1f9";
$icon-spacebar: "\e605";
$icon-envelope: "\e00d";
$icon-email: "\e005";
$icon-forward: "\e00a";
$icon-reply: "\e006";
$icon-phone: "\e603";
$icon-calendar: "\f073";
$icon-clock: "\e905";
$icon-comment: "\e00f";
$icon-chat: "\e010";
$icon-ellipsis: "\e013";

/* Chart */
$icon-barcode: "\f02a";
$icon-bar-chart: "\e003";

/* Money */
$icon-credit: "\f09d";
$icon-dollar-sign: "\e000";
$icon-pig: "\e900";
$icon-dollar: "\e909";
$icon-dollar2: "\e90a";
$icon-wallet: "\e90b";

/* Page */
$icon-move: "\f047";
$icon-shrink2: "\e911";
$icon-expand: "\f065";
$icon-shrink: "\e912";
$icon-external-link: "\f08e";
$icon-switch: "\e602";
$icon-fork: "\f0e8";
$icon-layers: "\f1ca";

/* Hospital */
$icon-hospital: "\f0f8";
$icon-h-sign: "\f0fd";
$icon-plus-sign: "\f0fe";
$icon-medkit: "\f0fa";
$icon-allergies: "\e00b";
$icon-bandage: "\e004";
$icon-heart: "\e008";
$icon-syringe: "\e002";
$icon-stethoscope: "\f0f1";
$icon-pill: "\e007";

/* Devices */
$icon-mobile: "\e604";
$icon-tablet: "\e00e";
$icon-desktop: "\f108";

/* Website */
$icon-home: "\f015";
$icon-th: "\f00a";
$icon-th-list: "\f00b";
$icon-reorder: "\f0c9";
$icon-nav-toggle: "\f0c9";
$icon-cog: "\f013";
$icon-profile: "\e908";
$icon-address-book: "\e00c";
$icon-clip-board: "\e011";
$icon-signout: "\f08b";
$icon-shopping-cart: "\e606";

/* Users */
$icon-user: "\f007";
$icon-user-md: "\f0f0";
$icon-user-tie: "\e907";
$icon-group: "\f0c0";
$icon-user-plus: "\e913";
$icon-user-minus: "\e914";

/* Drinks */
$icon-tea: "\f3cb";
$icon-coffee: "\e904";

/* Non-breaking Space */
$non-breaking-space: "\00a0";