@import 'vendor/normalize';
@import 'base/grid';
@import 'base/icons';
@import 'base/typography';
@import 'modules/alerts';
@import 'modules/badges';
@import 'modules/buttons';
@import 'modules/forms';
@import 'modules/nav';
@import 'modules/pagination';

// Icon font
@include icons('../fonts');

// Page layout
html {
  margin: 2em;
}

// Prism.js fixes
code {
  overflow: visible !important;
}

.token.lf::before {
  display: none;
}
